# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files
*.bak

# IDE-specific files (e.g., for PyCharm)
.idea/
.vscode/

# Compiled Python files
*.pyc
__pycache__/

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Other project-specific files
.env
.gitignore
